* {
    font-family: 'Museo', sans-serif;
}
.container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}
.contacts {
    padding-bottom: 100px;
}

@import 'blocks/title';
@import 'blocks/button';

@import 'blocks/header';
@import 'blocks/adventeger';
@import 'blocks/subadventeger';
@import 'blocks/partners';
@import 'blocks/middle';
@import 'blocks/whyliveme';
@import 'blocks/questionAnswer';
@import 'blocks/apps';
@import 'blocks/footer';