.button {
    min-width: 180px; 
    display: block;
    margin: 0 auto;
    border: 1px solid #e95095;
    color: #ffffff;
    background-color: #e95095;
    transition: background-color .35s, opacity .35s;
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
    a {
        display: block;
        color: #fff;
        padding: 15px 30px;
        &:hover {
            text-decoration: none;
        }
    }
    &:hover {
        background-color: #e95095e3;
    }
    &_subadventeger {
        background-color: transparent;
        border: 1px solid #fff;
        margin-top: 20px;
        transition: border .35s border-bottom .35s;
        &:hover {
            border: 1px solid #e95095;
            border-bottom: solid 3px rgba(0, 0, 0, 0.2);
            background-color: #e95095;
        }
    }
}