.button { 
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    border: 1px solid #e95095;
    color: #ffffff;
    background-color: #e95095;
    transition: background-color .35s, opacity .35s;
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: #e95095e3;
    }
}